{% extends 'base.html' %}
{% load crispy_forms_tags %}

</div>
{% block content%}

<script src= 
"https://code.jquery.com/jquery-1.12.4.min.js"> 
    </script> 
    <style type="text/css"> 
        .selectt {             
            display: none;          
           
        }           
        label { 
            margin-right: 20px; 
        } 
    </style> 
<div class="col-2"></div>
<div class="col-8">

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}

    <div class="content-section">
        <form method="post" action="">
            {% csrf_token %}
            
        
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add New ATM Login Details </legend>
                <table class="table text-left" style="background-color:#7c9da3">
                    <!-- <thead class="thead-dark">
                      <th colspan="2">Add New ATM Login Credentials Details</th>
                    </thead> -->
                    <tbody>
                        <tr >
                            <td scope="col">S.N</td>
                            <td >{{form.s_n}}</td>
                        </tr>
                    
                        <tr>
                            <td scope="row">Branch code</td>
                            <td>{{form.branch_code}}</td>
            
                        </tr>
                        <tr>
                            <td scope="row">ATM IP</td>
                            <td>{{form.ATM_IP}}</td>
            
                        </tr>
                     </tbody>
                     </table>

            </fieldset>
            
            <h3>  
                Please select the option.
            </h3> 
            <div> 
                <label> 
                    <input type="radio" name="colorRadio" 
                            value="VNC">  VNC Password </label> 
                <label> 
                    <input type="radio" name="colorRadio" 
                            value="Radmin"> Radmin login Details </label> 
                <label> 
                    <input type="radio" name="colorRadio" 
                            value="ATMJournal"> ATM Logs Login Details</label> 
                  
              </div> 
           
              
              <div class="VNC selectt"> 
                <table class="table table-borderless  text-left" style="background-color:#7c9da3">
                  
                    <tbody>
                      <tr>
                        <td scope="row">VNC password</td>
                        <td >{{form.VNC_password}}</td>
                     </tr>                                       
                     </tbody>
                     </table>
              </div>

              <div class="Radmin selectt"> 
                <table class="table  text-left" style="background-color:#7c9da3">                  
                    <tbody>
                      <tr>
                        <td scope="row">R Admin User Name</td>
                        <td >{{form.R_admin_user_name}}</td>
                     </tr>  
                     <tr>
                        <td scope="row">R Admin Password</td>
                        <td >{{form.R_admin_password}}</td>
                     </tr>                                       
                     </tbody>
                     </table>
            </div> 
            <div class="ATMJournal selectt"> 
                <table class="table  text-left" style="background-color:#7c9da3">                  
                    <tbody>
                      <tr>
                        <td scope="row">ATM Logs Username</td>
                        <td >{{form.ATM_journal_user_name}}</td>
                     </tr>  
                     <tr>
                        <td scope="row">ATM Logs Password</td>
                        <td >{{form.ATM_journal_password}}</td>
                     </tr>                                       
                     </tbody>
                     </table>
            </div>
              <script type="text/javascript"> 
                  $(document).ready(function() { 
                      $('input[type="radio"]').click(function() { 
                          var inputValue = $(this).attr("value"); 
                          var targetBox = $("." + inputValue); 
                          $(".selectt").not(targetBox).hide(); 
                          $(targetBox).show(); 
                      }); 
                  }); 
              </script> 
              <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Save</button>
                <a class="btn btn-outline-secondary" href="{% url 'view-all-atm-details'%}">Cancel</a>
            </div>
        </form>
    </div>

</div>



{% endblock%}