{% extends 'base.html'%} {% load static %} {% block content %} {% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}}">
  {{message}}
</div>
{% endfor %} {% endif %}
<div class="form-group">
  <a href="{% url 'export-excel' %}"
    ><img src="{% static 'img/export-excel-.png'%}"
  /></a>
</div>
<div class="content-section">
  <div class="table-responsive">
    <table class="table table-bordered text-center">
      <thead class="thead-dark">
        <th colspan="10">ATM Login Credentials Details</th>
      </thead>
      <tbody>
        <tr>
          <th scope="col">S.N</th>
          <th scope="col">Branch Name</th>
          <th scope="col">Branch Code</th>
          <th scope="col">ATM IP</th>
          <th scope="col">VNC Password</th>
          <th scope="col">RAdmin Username</th>
          <th scope="col">RAdmin Password</th>
          <th scope="col">ATM Journal Username</th>
          <th scope="col" colspan="2">ATM Journal Password</th>
        </tr>

        {% for all_atm in context %}
        <tr>
          <td>{{all_atm.s_n}}</td>
          <td class="">
            {{all_atm.branch_name}}
          </td>

          <td class="">
            {{all_atm.branch_code}}
          </td>
          <td class="">
            {{all_atm.ATM_IP}}
          </td>
          <td class="">
            {{all_atm.VNC_password}}
          </td>
          <td class="">
            {{all_atm.R_admin_user_name}}
          </td>
          <td class="">
            {{all_atm.R_admin_password}}
          </td>
          <td class="">
            {{all_atm.ATM_journal_user_name}}
          </td>
          <td class="">
            {{all_atm.ATM_journal_password}}
          </td>
          <td class="text-dark">
            <a
              href="{% url 'modify-atm-login-credentials-details' all_atm.id %}"
            >
              <img src="{% static 'img/pencil-2x.png'%}" class=""
            /></a>

            <a href="{% url 'delete-atm-login-credentials-details' all_atm.id %}"
              ><img src="{% static 'img/delete-2x.png'%}" class=""
            /></a>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% if is_paginated %}

{% if page_obj.has_previous%}
<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif%}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}

{% if page_obj.has_next%}
<a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif%}

{%endif%}

{% endblock content %}
