<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View All ATM Terminal Id</title>
</head>

<body>
    {% extends 'base.html'%}
    {% block content %}
    <table class="table table-bordered text-center">
        <thead class="thead-dark">
            <th colspan="11">ATM Details </th>
        </thead>
        <tbody>
            <tr>
                <th scope="col">S.N</th>
                <th scope="col">Branch name</th>
                <th scope="col">Branch Code</th>
                <th scope="col">ATM Terminal Id</th>
                <th scope="col">Problem</th>
                <th scope="col">Remarks</th>
                <th scope="col" colspan="2">ATM Issue Priority</th>


            </tr>

            {% for all_atm in all_atm_issue_details %}
            <tr>
                <td>{{all_atm.s_n}}</td>

                <td class="">
                    {{all_atm.branch_code}}
                </td>
                <td class="">
                    {{all_atm.atm_terminal_id}}
                </td>
                <td class="">
                    {{all_atm.problem}}
                </td>
                <td class="">
                    {{all_atm.remarks}}
                </td>
                <td class="">
                    {{all_atm.atm_issue_priority}}
                </td>

                <td class="text-dark">
                    <a href="">Edit</a>
                    <a href="">Delete</a>

                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
</body>

</html>