{% extends 'base.html'%}
{% block content %}
<div class="content-section">

    <table class="table table-bordered text-center">
        <thead class="thead-dark">
            <th colspan="3">ATM Terminal Details </th>
        </thead>
        <tbody>
            <tr>
                <th scope="col">S.N</th>
                <th scope="col" colspan="2">ATM Terminal ID</th>

            </tr>

            {% for all_atm in all_atm_terminal_id %}
            <tr>
                <td>{{all_atm.s_n}}</td>
                <td class="editable" data-id="{{all_atm.id}}" data-type="{{all_atm.atm_terminal_id}}">
                    {{all_atm.atm_terminal_id}}
                </td>
                <td class="text-dark">
                    <a href="{% url 'ATMStatus_modify_terminal_id' all_atm.id %}"><button type="button"
                            class="btn btn-info"><span class="glyphicon glyphicon-pencil"
                                aria-hidden="true">Edit</span></button></a>
                    <a href="{% url 'ATMTerminalId-delete' all_atm.id %}"><button type="button"
                            class="btn btn-info"><span class="glyphicon glyphicon-pencil"
                                aria-hidden="true">Delete</span></button></a>


                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}