{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content%}


<div class="col-8">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    <div class="content-section">
        <form method="post" action="">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add new ATM terminal id </legend>
                {{add_terminal_id|crispy}}

            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Save</button>
                <a class="btn btn-outline-secondary" href="{% url 'ATMStatus_view_atm_terminal_id'%}">Cancel</a>


            </div>

        </form>
    </div>

</div>
<!-- <table class="table table-borderless">
            <thead class="thead-dark" style="size:16px;">
                <th colspan="2">
                    Add New Terminal ID Details

                </th>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">S.N</th>
                    <td>{{add_terminal_id.s_n}}</td>

                </tr>
                <tr>
                    <th scope="row">Terminal ID</th>
                    <td>{{add_terminal_id.atm_terminal_id}}
                        </br>
                        {{atm_id_pattern_error}}
                    </td>

                </tr>
                <tr>
                    <td><button type="submit" class="btn btn-primary btn-lg btn-block">
                            Save</button></td>

                </tr>
            </tbody>
        </table> -->
{% endblock%}