{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content%}
<div class="content-section">
    <form method="POST" action="">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete ATM Details </legend>
            <h2> Are you sure want to delete ATM issue details of "{{delete_atm_issue_details.branch_name}}" branch</h2>
        </fieldset>

        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
            <a class="btn btn-outline-secondary" href="{% url 'view-atm-issue-details' %}">Cancel</a>
        </div>


    </form>
</div>
{% endblock %}