{% extends 'base.html'%}
{% load static %}


{% block content %}

<div class="content-section">
    <div class="table-responsive">
        <table class="table table-bordered text-center">
            <thead class="thead-dark">
                <th colspan="11">ATM Details </th>
            </thead>
            <tbody>
                <tr>
                    <th scope="col">S.N</th>
                    <th scope="col">Branch Name</th>
                    <th scope="col">Branch Code</th>
                    <th scope="col">ATM Terminal Id</th>
                    <th scope="col">Problem</th>
                    <th scope="col">Remarks</th>
                    <th scope="col">ATM Issue Priority</th>


                </tr>

                {% for all_atm in all_atm_issue_details %}
                <tr>
                    <td>{{all_atm.s_n}}</td>
                    <td class="">
                        {{all_atm.branch_code.branch_name}}
                    </td>

                    <td class="">
                        {{all_atm.branch_code}}
                    </td>
                    <td class="">
                        {{all_atm.atm_terminal_id}}
                    </td>
                    <td class="">
                        {{all_atm.atm_location}}
                    </td>
                    <td class="">
                        {{all_atm.atm_address}}
                    </td>
                    <td class="">
                        {{all_atm.atm_ip_address}}
                    </td>
                    <td class="">
                        {{all_atm.switch_ip_address}}
                    </td>
                    <td class="">
                        {{all_atm.switch_port_number}}
                    </td>
                    <td class="">
                        {{all_atm.atm_installed_date}}
                    </td>
                    <td class="text-dark">
                        <a href="{% url 'modify-atm-details' all_atm.id %}">
                            <img src="{% static 'img/pencil-2x.png'%}" class=""></a>

                        <a href="{% url 'delete-atm-details' all_atm.id %}"><img src="{% static 'img/delete-2x.png'%}"
                                class="mt-4"></a>


                    </td>


                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% if is_paginated %}

{% if page_obj.has_previous%}
<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif%}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}

{% if page_obj.has_next%}
<a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif%}

{%endif%}
{% endblock %}